/*reset code starts*/
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*reset code ends*/

h1{
    text-align: center;
    font-size: 3rem;
}

/*posts strars here*/
.Posts{
    width: 100%;
    /*background-color: aqua;*/
    padding: 1rem;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
.post{
    width: 23%;
    margin: 0.1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.post:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*post ends here*/